body{
  font-family: tahoma;
  background-color: #131720;
}

.container{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.bills{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main{
  width: 335px;
  padding-left: 20px;
  height: 320px;
  padding-top: 20px;
  border: 2px solid green;
  border-radius: 13px;
  box-shadow: 5px 5px 10px blue;
  padding-right: 20px;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: green;
  font-size: 15px;
  margin-top: 20px;
}

nav h1{
  font-size: 20px;
  color: gray;
}

p{
  color: white;
}